{
    "plugins": [
        [
            "module-resolver",
            {
                "alias": {
                    "~": "./src",
                    "*": "./public"
                }
            }
        ]
    ]
}
