.wrapper {
    text-align: left;
    width: 100%;

    .title {
        margin-bottom: 36px;
        width: auto;
    }

    .context {
        text-align: justify;
        width: 100%;
        padding: 10px 0;
        a {
            padding: 0px 5px;
            color: black;
            text-decoration: underline !important;
        }
    }
}
