.wrapper {
    margin-top: 10px;
}
:where(.css-dev-only-do-not-override-ed5zg0).ant-tabs .ant-tabs-ink-bar {
    background: var(--text-color);
}
:where(.css-dev-only-do-not-override-ed5zg0).ant-tabs .ant-tabs-tab:hover {
    color: #4d4d4d;
}
:where(.css-dev-only-do-not-override-ed5zg0).ant-tabs .ant-tabs-tab:active {
    color: #4d4d4d;
}
:where(.css-dev-only-do-not-override-ed5zg0).ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: var(--text-color);
}
:where(.css-dev-only-do-not-override-ed5zg0).ant-tabs {
    color: #999999;
}
:where(.css-dev-only-do-not-override-ed5zg0).ant-tabs .ant-tabs-tab-btn:focus:not(:focus-visible),
:where(.css-dev-only-do-not-override-ed5zg0).ant-tabs .ant-tabs-tab-remove:focus:not(:focus-visible),
:where(.css-dev-only-do-not-override-ed5zg0).ant-tabs .ant-tabs-tab-btn:active,
:where(.css-dev-only-do-not-override-ed5zg0).ant-tabs .ant-tabs-tab-remove:active {
    color: var(--text-color);
}
.title {
    font-size: 20px;
}
